<!-- 5. template that Handlebars can render onto.
 -->
<P>SUCESSFULLY CONECTED</P>

<h1> Burgers </h1>

<ul>
{{#each burger}}
    <li>{{burger_name}}</li>
   
{{/each}}
</ul>

<button class="submitt">SUBMITT</button>